.button {
    width: 100%;
    height: 40px;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: none;
    color: white;
    background: #0FAE96;
    cursor: pointer;
    border-radius: 8px;
    
  }
  
  .button:focus {
    outline: none;
  }

  .featureButton{
    background-color: transparent;
  }

  
 
  

  