.features{
    color: #fff;
    width: 700px;
    position: relative;
    top: 90px;
    margin: auto;
    height: 250px;
    text-align: center;
   
}
.feature-title{
    padding: 20px;
}
.feature-description{
    color: #B6B6B6;
    position: relative;
    margin: auto;
  
}
.button{
    width: 140px;
    position: relative;
    top: 25px;
    margin: auto;
}
@media screen and (max-width: 960px) {
    .features{
        width: 100%;
    }
    .feature-title{
        width: 100%;
    }
    .feature-description{
        width: 290px;
    }
}