body {
  background: linear-gradient(
    to right, #000000,
    #511281,#511281
  );
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
}

@keyframes body  {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0;
  }
}




